<!-- your html code here -->
<div>
    <h1>Contact</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s,<br> when an unknown printer took a galley of type and scrambled</p>

    <div class="row">
        <div class="col-md-5">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <form class="form-horizontal">
                        <div class="form-group row mx-auto">
                            <label for="email" class="control-label col-sm-2"> <strong>Your E-mail</strong> </label>
                            <div class="col-sm-5">
                                <input type="email" class="form-control form-control-lg" id="colFormLabelLg"
                                    placeholder="Your email">

                            </div>
                        </div>
                        <div class="form-group row mx-auto">
                            <label for="message" class="control-label col-sm-2"> <strong>Your message</strong> </label>
                            <div class="col-sm-5">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    placeholder="Please enter your message here"></textarea></textarea>
                            </div>
                        </div>
                        <div class="" style="position: absolute; left: 48%"><button type="submit"
                                class="btn btn-primary">Submit</button>
                        </div><br>


                </div>
            </div>


        </div>
    </div>


</div>