<div class="row">
    <div class="col-md-8">
        <div>
            <h1><p><strong>The second Heading</strong> is pretty cool too</p></h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, quaerat. Delectus exercitationem maxime, eligendi recusandae excepturi voluptates culpa minima voluptatibus dolorem accusamus quis. Hic dolores, obcaecati modi alias est laudantium.</p>
            </div>
    </div>
<div class="col-md-4 parrafo ">
<div>
    <img class="rounded-circle mr-auto w-30 img2 " src="/practica4-html-colaborative/website1/assets/img/1.jpg"alt="">
   
</div>
</div>
    
 </div>