<!-- your html code here -->
<div class="row">
    <div class="container">
        <div class="col">


            <img class="rounded float-right"
                src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
                class="rounded-pill" alt="Coche" style="width:20%" class="mx-auto d-block">

        </div>




        <div class="col">

            <h1 class="rounded float-left" class="display-4" class="font-weight-bold">Imagen centrada <a href="#"
                    class="text-secondary">y responsable</a> </h1>

            <div class="rounded float-left">
                <p>En 4geeks aqui podemos compartir personas de diferentes nacionalidades </p>
                <p>En el progreso de la computacion por el avance tecnologico de la sociedad</p>
                <p> el proposito es capacitar a los jovenes a mejorar en la computacion y poderlos capacitar para
                    trabajar</p>
                <p> ya sea en su pais de origen o en el extranjero </p>

            </div>
        </div>
     </div>


    </div>