<div>
    <H1>Portfolio</H1>
    <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s </p>
    <div class="container">
        <div class="row">
            <div class="col col-md-4 col-sm-3 col-xs-12 w-25 p-3">
                <img class="img-fluid" src="https://dummyimage.com/700x400/fff/aaa" />
                <h2 class="text-primary">Project name</h2>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </div>
            <div class="col col-md-4 col-sm-3 col-xs-12 w-25 p-3">
                <img class="img-fluid" src="https://dummyimage.com/700x400/fff/aaa" />
                <h2 class="text-primary">Project name</h2>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </div>
            <div class="col col-md-4 col-sm-3 col-xs-12 w-25 p-3">
                <img class="img-fluid" src="https://dummyimage.com/700x400/fff/aaa" />
                <h2 class="text-primary">Project name</h2>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </div>
        </div>
    </div>
</div>