<div class="row">
    <div class="col-md-4">
        <div>
            <img class="rounded-circle w-60 ml-auto" src="/practica4-html-colaborative/website1/assets/img/2.jpg"
                alt="">
            </div>
    </div>
<div class="col-md-8 parrafo my-auto">
<div>
    <h1><p><strong>The second Heading</strong> is pretty cool too</p></h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem culpa, quidem laboriosam quod porro quisquam officia, quo ullam quasi minima ducimus distinctio ipsam magni, explicabo necessitatibus totam in. Corporis, sit!</p>
</div>
</div>
    
 </div>